@model IdentiGo.Domain.Entity.Master.Division
@{
    ViewBag.Title = "Divisiones";
}

@using (Html.BeginForm("LoadFile", "Division", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">Divisiones</h4>
            <ol class="breadcrumb">
                <li><a href="">Maestros</a></li>
                <li><a href="@Url.Action("Index")">Divisiones</a></li>
                <li class="active">Cargar Archivo</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card-box">
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="control-label">Archivo</label>
                    <input type="file" class="filestyle" name="file" id="file" required  data-iconname="fa fa-cloud-upload" data-min-file-count="1">
                </div>
                <div class="form-group text-right m-b-0">
                    <button type="submit" class="btn btn-default waves-effect waves-light">
                        <span class="btn-label"><i class="fa fa-upload"></i></span>
                        Subir
                    </button>
                    <a href="@Url.Action("Index")" class="btn btn-danger waves-effect waves-light">
                        <span class="btn-label"><i class="fa fa-remove"></i></span>
                        Cancelar
                    </a>
                </div>
            </div>
        </div>
    </div>
}
